
<style type="text/css">
	
	.forum-name{
		border-bottom:1px solid green;
	}
	.forum-item{
		padding:10px;
	}
	.forum-list{
		padding:20px;
	}
	.forum-controls a{
		margin-left:50px;
	}
	.forum{
		padding:15px;
	}
</style>

<div class="forum">
	<h1 class="forum-header">The Forums </hi>
	<ul class="forum-list">
		<% @forums.each do |forum| %>
	        <li class="forum-item">
				<%= link_to forum.name , forum_path(forum)  %>
				
				<div class="forum-controls">
					<%= link_to "EDIT" , edit_forum_path(forum) %>
					<%= link_to "DELETE" ,forum_path(forum) ,:method=>:delete %>
				</div>
			</li>
	    <% end %>
	</ul>

</div>
<%= link_to "Create Forum", new_forum_path %>
