<ul>
<% @events.each do |event| %>
	<li>
			<%= link_to event.name,:controller =>'events' ,
									:action=>"show", :id => event
			%>
			<%= link_to 'edit',:controller =>'events' ,
									:action=>"edit", :id => event
			%>
			<%= link_to 'delete',:controller =>'events' ,
									:action=>"destroy", :id => event
			%>
	</li>
<% end -%>
</ul>

<%= link_to "new event", :controller => 'events' ,:action => 'new' %>

