
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict //EN "
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/19999/xhtml" xml:lang="en" lang="en" >
<head>
	<title> <%= @page_title %> </title>
	<style type="text/css">
		#user-bar-greeting{
			position:absolute;
			left:75%;
			top:0px;
		}
		#user-bar-action{
			position:absolute;
			left:85%;
			top:0px;
		}
	</style>
</head>
<body>	
<%= render :partial => "users/user_bar" %>

<%= @content_for_layout %>

</body>
</html>